.go{
    background: red;
}

.bounceTags{
    background: #fff;
}

.bounceTags:hover {
    animation: bounce linear 0.5s;
    transform: scale(1);
}

@keyframes bounce { 
    0% { transform: scale(1.1); opacity: 1 }
    50% { transform: scale(1.6); opacity: .7; }
    60% { transform: scale(1.2); opacity: 1 }
    80% { transform: scale(1.1) }
    100% { transform: scale(1) }
 }