.logo {
    height: 32px;
    margin: 16px 0 16px -5px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    transition: all 0.5s ease;
    width: 200px;
}

.ant-layout-sider-trigger {
    background: #5863F8;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #5FBFF9;
}

.sliderKeyword {
    margin-bottom: 20px;

}

.ant-table-small .ant-table-thead > tr > th {
    padding: 20px;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
  .ant-layout-sider-zero-width-trigger {
    bottom: 30%;
    right: -36px;
    width: 36px;
    line-height: 42px;  
    z-index: 10;
}

.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  }
  
  .custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
  }
  
  .highlight {
    color: #f50;
  }

  .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 15px;
}

.re_button {
    color: #1890ff;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s,
}

.re_button:hover {
    
    animation: ro 2s linear infinite;
}

@keyframes ro {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
}


.ant-input {
    width: 300px;
    border-radius: 4px 0px 0px 4px;
    height: 31px;
}

.go_button {
    background-color: #001629;
    border-radius: 0px 4px 4px 0px;
    border-color: #001629;
}
.go_button:hover {
    background-color: #0e5ca0;
    
}

.recharts-wrapper2{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    background: white;
}

.warning_keyword_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
}

.warning_keyword_container > div {
    text-align: center;
    width: 400px;
    height: 200px;
    font-size: 16px;
    background:#fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: #0e5ca0;
    border-color: #0e5ca0;
    
}

.ant-input-number {
    width: 100%;
}
