.ant-avatar-lg.ant-avatar-icon {
    font-size: 200px;
  }
  
  .ant-avatar-lg {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 20px;
  }
  
  .ant-avatar {
    background: #5ec0fa;
    color: #ffffff;
    
  }